<h1>Empleado <small>Nombre del empleado</small> </h1>

<div class="row text-right">
    <div class="col">
        <button  class="btn btn-danger" routerLink="/Empleados">
            <i class="fa fa-arrow-circle-left" aria-hidden="true">
            </i>
            Regresar
        </button>
    </div>
</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form (ngSubmit)="saveEmploy(form)" #form="ngForm">
            <div class="form-group">
                <label >ID </label>
                <input [(ngModel)]="empleado.id" name="id" type="text"  placeholder="ID de empleado" class="form-control w-25" disabled="disabled">
                <small class="form-text text-muted">Este campo se autogenera</small>
            </div>
            <div class="form-group">
                <label >Nombre </label>
                <input type="text" [(ngModel)]="empleado.nombre" name="nombre"  placeholder="Nombre del empleado" class="form-control w-50" required>
             
            </div>
            <div class="form-group">
                <label >Apellido Paterno </label>
                <input type="text" [(ngModel)]="empleado.Papellido" name="Papellido"  placeholder="Apellido Paterno" class="form-control w-50"required>
            </div>
            <div class="form-group">
                    <label >Apellido Materno </label>
                    <input type="text" [(ngModel)]="empleado.Mapellido" name="Mapellido"  placeholder="Apellido Materno" class="form-control w-50"required>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary"> <i class="fas fa-save    "></i> Guardar</button>           
        </form>
    </div>
</div>